<h1>Aufwandsverrechnungsliste</h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   <!-- planename Column -->
  <ng-container matColumnDef="planename">
    <th mat-header-cell *matHeaderCellDef> Flugzeug </th>
    <td mat-cell *matCellDef="let element"> {{element.planename}} </td>
  </ng-container>

  <!-- duration Column -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Nutzungsdauer </th>
    <td mat-cell *matCellDef="let element"> {{element.duration}} €/Std. </td>
  </ng-container>

  <!-- flighttime Column -->
  <ng-container matColumnDef="flighttime">
    <th mat-header-cell *matHeaderCellDef> Flugzeit </th>
    <td mat-cell *matCellDef="let element"> {{element.flighttime}} €/Min. </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div>
  <button mat-raised-button color="primary"> Ändern </button>
  <button mat-raised-button color="primary"> Löschen </button>
  <button mat-raised-button color="primary"> Hinzufügen </button>
</div>
