<mat-toolbar color="primary" class="header">
  <button mat-icon-button (click)="toggleOpened()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-text">Flugverein Reilingen</span>
  <img src="./assets/logo/logoheader-wotext_750x750.png" class="logo" (click)="navigateTo('')"
    alt="Flugverein Reilingen">
  <button (click)="logOut()" *ngIf="loggedIn" mat-button class="logout-button">
    <span>Logout</span>
    <mat-icon class="logout-icon">cancel</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidebar-container" (backdropClick)="toggleOpened()">
  <mat-sidenav class="sidebar" mode="over" [opened]="opened">
    <mat-list>
      <h3 mat-subheader class="underline">Mein Profil</h3>
      <div class="menu-button-wrapper" (click)="navigateTo('account')">
        <mat-list-item class="menu-button">
          <h4 mat-line>Übersicht</h4>
        </mat-list-item>
      </div>
      <div class="menu-button-wrapper">
        <mat-list-item class="menu-button not-included">
          <h4 mat-line>Reservierung</h4>
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <h3 mat-subheader class="underline">Verwaltung</h3>
      <div class="menu-button-wrapper">
        <mat-list-item class="menu-button not-included">
          <h4 mat-line>Finanzen verwalten</h4>
        </mat-list-item>
      </div>
      <div class="menu-button-wrapper" (click)="navigateTo('memberlist')">
        <mat-list-item class="menu-button">
          <h4 mat-line>Mitgliedsliste</h4>
        </mat-list-item>
      </div>
      <div class="menu-button-wrapper">
        <mat-list-item class="menu-button not-included">
          <h4 mat-line>Reservierungen verwalten</h4>
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <h3 mat-subheader class="underline">Allgemeines</h3>
      <div class="menu-button-wrapper" (click)="navigateTo('planelist')">
        <mat-list-item class="menu-button">
          <h4 mat-line>Flugzeuge</h4>
        </mat-list-item>
      </div>
      <div class="menu-button-wrapper">
        <mat-list-item class="menu-button" (click)="navigateTo('expensingbilllist')">
          <h4 mat-line>Aufwandsverrechnungsliste</h4>
        </mat-list-item>
      </div>
      <div class="menu-button-wrapper">
        <mat-list-item class="menu-button" (click)="navigateTo('feelist')">
          <h4 mat-line>Beitragsliste</h4>
        </mat-list-item>
      </div>
      <div class="menu-button-wrapper">
        <mat-list-item class="menu-button" (click)="navigateTo('creditlist')">
          <h4 mat-line>Gutschriftenliste</h4>
        </mat-list-item>
      </div>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>