@media only screen and (min-width: 600px) {
    .sidebar-container {
        height: calc(100vh - 64px);
    }

    .logo {
        height: 60px;
        width: auto;
        margin: 2px 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }
}

@media only screen and (max-width: 599px) {
    .sidebar-container {
        height: calc(100vh - 56px);
    }

    .logo {
        height: 50px;
        width: auto;
        margin: 3px 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }
}

.sidebar {
    width: 300px;
}

.menu-button-wrapper {
    cursor: pointer;
    transition: 0.5s;
}

.underline {
    text-decoration: underline;
}

.sub-button {
    margin: 0 16px;
}
.menu-button-wrapper:hover {
    background-color: #0081C9;
    transition: 0.5s;
}

.menu-button-wrapper:hover .menu-button {
    color: white;
}


/* remove when all links done please!!!!!!!!!!!!!!!!!einseineself */
.not-included {
    text-decoration: line-through;
}