<div class="dialog-wrapper">
  <h2 mat-dialog-title>Logbucheintrag hinzufügen</h2>
  <mat-dialog-content>
    <form>
      <div class="tab-content">
        <div id="logentry-header">Logbuchdaten</div>

        <!-- <mat-form-field class="input-width">
          <mat-select placeholder="Luftfahrzeug" [formControl]="planeNumberFormControl" id="planeNumber" 
          required>
          <mat-option *ngFor="let plane of planes" [value]="plane.id">{{plane.name}}</mat-option>
        </mat-select>
      </mat-form-field> -->

          <mat-form-field class="input-width">
            <input type="text" matInput placeholder="Ort" [formControl]="locationFormControl" 
            id="location" maxlength="35" pattern="[a-zA-Z_äÄöÖüÜß0-9/. \-]+" required>
            <mat-error *ngIf="locationFormControl.hasError('pattern')">Kein korrekter Ort</mat-error>
            <mat-error *ngIf="locationFormControl.hasError('required')">Der Ort muss angegeben werden</mat-error>
          </mat-form-field>

          <mat-form-field class="input-width">
            <input type="text" matInput placeholder="Anfangsstand" pattern="[0-9]*" digitOnly [formControl]="initialFuelLevelFormControl" 
            id="intialFuelLevel" required>
            <mat-error *ngIf="locationFormControl.hasError('pattern')">Es sind nur Zahlen erlaubt</mat-error>
            <mat-error *ngIf="locationFormControl.hasError('required')">Der Anfangsstand muss angegeben werden</mat-error>
          </mat-form-field>

          <mat-form-field class="input-width">
            <input type="text" matInput placeholder="Endstand" pattern="[0-9]*" digitOnly [formControl]="finalFuelLevelFormControl" 
            id="finalFuelLevel" required>
            <mat-error *ngIf="locationFormControl.hasError('pattern')">Es sind nur Zahlen erlaubt</mat-error>
            <mat-error *ngIf="locationFormControl.hasError('required')">Der Endstand muss angegeben werden</mat-error>
          </mat-form-field>

          <mat-form-field class="input-width">
            <input type="text" matInput placeholder="Preis" pattern="[0-9]*" digitOnly [formControl]="priceFormControl" 
            id="price" required>
            <mat-error *ngIf="locationFormControl.hasError('pattern')">Es sind nur Zahlen erlaubt</mat-error>
            <mat-error *ngIf="locationFormControl.hasError('required')">Der Preis muss angegeben werden</mat-error>
          </mat-form-field>

      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button mat-raised-button (click)="saveLogData()" color="primary" cdkFocusInitial>Speichern</button>
  </mat-dialog-actions>
</div>