<div class="component-wrapper">
  <img src="./assets/logo/standardlogo-wlogo_1000x1000.png" class="logo" alt="Flugverein Reilingen">
  <div class="login-wrapper">
    <h1 class="title-text">Login</h1>
    <mat-form-field class="input">
      <input matInput placeholder="Mitgliedsnummer" [(ngModel)]="memberID" (keydown)="checkEnter($event)">
    </mat-form-field>
    <mat-form-field class="input">
      <input [type]="showPassword.checked ? 'text' : 'password'" matInput placeholder="Passwort" [(ngModel)]="pass"
        (keydown)="checkEnter($event)">
    </mat-form-field>
    <mat-checkbox class="block" #showPassword>Passwort anzeigen</mat-checkbox>
    <button (click)="returnToLandingPage()" class="margin-right" mat-raised-button color="primary">Zurück</button>
    <button (click)="sendLogin()" mat-raised-button color="primary">Login</button>
  </div>
</div>