.component-wrapper {
    height: 100%;
    width: 100%;
}

.change-password-wrapper{
    width: 300px;
    max-width: 90vw;
    height: auto;
    position: relative;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.title-text {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}

.input {
    width: 100%;
    margin-bottom: 20px;
}