<div class="dialog-wrapper">
  <!-- <h1 mat-dialog-title>Mitglied Nummer {{ data.id }} bearbeiten</h1> -->
  <div mat-dialog-content>
    <mat-tab-group backgroundColor="primary" color="accent" [dynamicHeight]="true">
      <mat-tab label="Übersicht">
        <div class="tab-content">
          <mat-form-field class="input-width">
            <input matInput placeholder="Vorname" [(ngModel)]="member.firstName">
          </mat-form-field>
          <mat-form-field class="input-width">
            <input matInput placeholder="Nachname" [(ngModel)]="member.lastName">
          </mat-form-field>
          <mat-form-field class="input-width">
            <input [value]="dateOfBirth" matInput [matDatepicker]="dateOfBirthPicker" placeholder="Geburtstag">
            <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
            <mat-datepicker #dateOfBirthPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="input-width">
            <mat-select placeholder="Geschlecht" [(value)]="member.gender">
              <mat-option value="Männlich">
                Männlich
              </mat-option>
              <mat-option value="Weiblich">
                Weiblich
              </mat-option>
              <mat-option value="Divers">
                Divers
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="input-width">
            <mat-select placeholder="Status" [(value)]="member.status">
              <mat-option value="Aktiv">
                Aktiv
              </mat-option>
              <mat-option value="Passiv">
                Passiv
              </mat-option>
              <mat-option value="Ehrenmitglied">
                Ehrenmitglied
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="input-width">
            <input matInput placeholder="Email" [(ngModel)]="member.email">
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Adresse">
        <div class="tab-content">
          <mat-form-field class="input-width">
            <input matInput placeholder="Postleitzahl" [(ngModel)]="member.address.postalCode">
          </mat-form-field>
          <mat-form-field class="input-width">
            <input matInput placeholder="Straße" [(ngModel)]="member.address.streetAddress">
          </mat-form-field>
          <mat-form-field class="input-width">
            <input matInput placeholder="Stadt" [(ngModel)]="member.address.city">
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Kundenkonto">
        <div class="tab-content">
          <mat-form-field class="input-width">
            <input matInput placeholder="Bankkonto" [(ngModel)]="member.bankingAccount">
          </mat-form-field>
          <mat-form-field class="input-width">
            <input matInput placeholder="Mitgliedskonto" [(ngModel)]="member.memberBankingAccount">
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Ämter">
        <div class="tab-content">
          <mat-form-field class="input-width">
            <mat-select placeholder="Ämter" multiple [(ngModel)]="member.offices" [compareWith]="compareOffices">
              <mat-option *ngFor="let office of possibleOffices" [value]="office">{{office.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Flugberechtigungen">
        <div class="tab-content">
          <ng-container *ngFor="let authorization of flightAuthorizations">
            <p class="authorization-title">{{ authorization.authorization }}</p>
            <mat-form-field>
                <input [value]="authorization.expires" matInput [matDatepicker]="flightAuthorizationsDate" placeholder="Gültig bis">
                <mat-datepicker-toggle matSuffix [for]="flightAuthorizationsDate"></mat-datepicker-toggle>
                <mat-datepicker #flightAuthorizationsDate></mat-datepicker>
              </mat-form-field>
              <br>
          </ng-container>
          <mat-form-field *ngIf="addAuthorization" class="input-width">
            <mat-select placeholder="Flugberechtigung" [(value)]="newAuthorization">
              <mat-option *ngFor="let authorization of availableAuthorizations" [value]="authorization.authorization">
                {{ authorization.authorization }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button class="add-button" mat-raised-button (click)="addNewAuthorization()">Hinzufügen</button>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button mat-raised-button (click)="saveMemberData()" color="primary">Speichern</button>
  </div>
</div>
