  .finance-list-wrapper {
      padding: 0 10px;
    }

  .divide-wrapper {
    float: left;
    width:50%;
  }
  
  .title-text {
    font-weight: 400;
    font-size: 32px;
  }
   
   table {
    width: calc(100% - 16px);
    margin: 8px;
  }
  
  .pointer {
    cursor: pointer;
  }

  .color-red {
    color: red;
  }

  .color-green {
      color: green;
  }

  .transactiontable {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); 
    margin: 8px;
  }

  .spacing {
    margin-right: 10px;
  }

  .divide-wrapper {
    float: left;
    width:50%;
}

.datewidth{
  width: 20%;
}

.amountwidth{
  width: 15%;
}

.textwidth{
  width: 65%;
}
  