.member-list-wrapper {
    padding: 0 10px;
  }

.divide-wrapper {
  float: left;
  width:50%;
}
  
  .title-text {
    font-weight: 400;
    font-size: 32px;
  }
   
   table {
    width: calc(100% - 16px);
    margin: 8px;
  }
  
  .pointer {
    cursor: pointer;
  }
  