.dialog-wrapper {
    width: 40vw;
}

@media (max-width: 1000px) {
    .dialog-wrapper {
        width: 80vw;
    }
}

@media (max-width: 768px) {
    .dialog-wrapper {
        width: 90vw;
    }
}

.input-width {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: block;
}