<div class="jobs-done-list-wrapper">
  <h1 mat-subheader class="title-text">Aufwände</h1>
  <p *ngIf="member != null" mat-subheader class="subheader">{{getUsr()}}</p>
  <button mat-raised-button color="primary" [disabled]="!canAddService" (click)="openAddJobsDialog()">Hinzufügen</button>
  <table mat-table [dataSource]="jobs" matSort class="mat-elevation-z8">

    <!-- startdate Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Startdatum </th>
      <td mat-cell *matCellDef="let element">{{element.startDate | date:'shortDate'}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- enddate Column -->
    <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Enddatum </th>
        <td mat-cell *matCellDef="let element">{{element.endDate | date:'shortDate'}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

    <!-- start Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dienststart </th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- credit Column -->
    <ng-container matColumnDef="gutschrift">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gutschrift </th>
      <td mat-cell *matCellDef="let element">{{element.gutschrift}} €</td>
      <td mat-footer-cell *matFooterCellDef>Summe: {{gutschriftSumme}} €</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  <div>
