#menubutton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height: 500px;
}

mat-sidenav {
    background-color: black;
    width:  300px;
}

.navbutton {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    border: none;
    border-color: white;
    overflow: hidden;
    outline:none;
    color: white;
}

/* example of tutorial
/* body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

#container {
   display: grid;
   grid-template-columns: 70px auto;
   height: 100%;

   #content {
       padding: 30px 50px;

       ul {
           list-style-type: none;
           margin:0;padding:0;
       
           li {
               background: #fff;
               border-radius: 8px;
               padding: 20px;
               margin-bottom: 8px;
       
               a {
                   font-size: 1.5em;
                   text-decoration: none;
                   font-weight: bold;
                   color:#00A8FF;
               }
       
               ul {
                   margin-top: 20px;
                   
                   li {
                       padding:0;
       
                       a {
                           font-size: 1em;
                           font-weight: 300;
                       }
                   }
               }
           }
       }
   }
} */