<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <button routerLink='' class='navbutton'><i class="material-icons">home</i></button><br>
    <button routerLink='memberlist' class='navbutton'>Mitgliederliste</button> <br>
    <button routerLink='planelist' class='navbutton'> Flugzeugliste</button> <br>
    <button routerLink='' class='navbutton'>Preisliste</button> <br>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <button mat-button (click)="sidenav.toggle()" id='menubutton'>
      <i class="material-icons">menu</i>
    </button> -->
  </mat-sidenav-content>
</mat-sidenav-container>