.dialog-wrapper {
    width: 30vw;
    margin-top: -24px;
}

.mat-dialog-content {
    padding: 0 0;
}

.tab-content {
    padding: 24px 24px;
}

.input-width {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: block;
}

.input-width-password {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: block;
    margin-top: 15px;
}

.authorization-title {
    width: 20%;
    display: inline-block;
    margin-right: 15px;
}

.add-button {
    margin-top: 10px;
}

.admissioned-div {
    margin-top: 15px;
}