<div class="member-list-wrapper">
  <h1 class="title-text">Mitgliedsliste</h1>
  <table *ngIf="dataSource" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element" (click)="navigateTo(element.id, 'X')"> {{element.id}} </td>
    </ng-container>

    <!-- Vorname Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vorname </th>
      <td mat-cell *matCellDef="let element" (click)="navigateTo(element.id, 'X')"> {{element.firstName}} </td>
    </ng-container>

    <!-- Nachname Column --> 
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nachname </th>
      <td mat-cell *matCellDef="let element" (click)="navigateTo(element.id, 'X')"> {{element.lastName}} </td>
    </ng-container>

    <!-- Offices Column -->
    <ng-container matColumnDef="offices">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ämter </th>
      <td mat-cell *matCellDef="let element" (click)="navigateTo(element.id, 'X')"> {{element.offices}} </td>
    </ng-container>

    <!-- Aufwände Column -->
    <ng-container matColumnDef="sumCredits">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Aufwände </th>
      <td mat-cell *matCellDef="let element" (click)="navigateTo(element.id, 'A')"> {{element.sumCredits | currency:'€'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="pointer" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button *ngIf="allowedToAddNewMember" mat-fab color="primary" (click)="openAddUserDialog()" class="add-member-button">
    <mat-icon>add</mat-icon>
  </button>
</div>
