.credit-list-wrapper {
    padding: 0 10px;
}
  
.title-text {
    font-weight: 400;
    font-size: 32px;
}
   
table {
    width: calc(100% - 16px);
    margin: 8px;
  }
  
button {
    margin-top: 20px;
    margin-left: 10px;
    position: relative;
}
h1 {
    margin-left: 10px;
    position: relative;    
}
  