.example-card {
    max-width: 400px;
    margin: 20px;
    float: left;
  }
  
  .example-header-image {
    background-size: cover;
    position: relative;
    top: 50%;
    transform: translateY(-4px);
  }