<div class="planes-list-wrapper">
  <h1 class="title-text">Flugzeugliste</h1>
  <div class="cards-wrapper">
    <mat-card class="card" *ngFor="let plane of planes">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <mat-icon>flight</mat-icon>
        </div>
        <mat-card-title>{{plane.name}}</mat-card-title>
      </mat-card-header>

      <img *ngIf="plane.pictureUrl" mat-card-image [src]="plane.pictureUrl" alt="Photo of {{plane.name}}">
      <div *ngIf="plane.pictureUrl === undefined || plane.pictureUrl === null || plane.pictureUrl === ''" mat-card-image class="dummy-plane-picture">
        <div class="icon-wrapper">
            <mat-icon class="plane-icon">airplanemode_active</mat-icon>
        </div>
        <p class="dummy-text">Kein Bild vorhanden.</p>
      </div>

      <mat-card-content>
        <p>
          Kennung: {{plane.number}}
        </p>
        <p>
          Ort: {{plane.position}}
        </p>
        <p>
          Lizenz: {{plane.neededAuthorization}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="allowedToEditPlane" mat-raised-button color="primary" (click)="openEditPlaneDialog(plane)">Ändern</button>
        <button *ngIf="allowedToDeletePlane" mat-raised-button color="warn" (click)="openDeletePlaneDialog(plane)">Löschen</button>
        
         <!-- TODO: Remove disabled and class button-without-functionality when button functionality is implemented-->
        <button *ngIf="allowedToSeePlaneLog" mat-raised-button color="basic" (click)="navigateToPlaneLog(plane.id)">Logbuch</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <button *ngIf="allowedToAddNewPlane" mat-fab color="primary" (click)="openAddPlaneDialog()" class="add-plane-button">
    <mat-icon>add</mat-icon>
  </button>
</div>