.planes-list-wrapper {
    padding: 0 10px 10px 10px;
}

.title-text {
    font-weight: 400;
    font-size: 32px;
}

@media (min-width: 769px) {
    .add-plane-button {
        position: fixed;
        bottom: 20px;
        right: 30px;
    }
}

@media (max-width: 768px) {
    .add-plane-button {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
}

.card {
    max-width: 400px;
    margin: 20px;
}
  
.header-image {
    background-size: cover;
    position: relative;
    top: 50%;
    transform: translateY(-4px);
}

.cards-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}