<h1>Flugzeugliste</h1>
<mat-card class="card" *ngFor="let plane of planes" [ngSwitch]="plane.number">
  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <mat-icon>flight</mat-icon>
    </div>
    <mat-card-title>{{plane.name}}</mat-card-title>
  </mat-card-header>

  <img mat-card-image *ngSwitchCase="'D-ERFI'" src="./../../assets/Flugzeuge/Motorflugzeug1.jpg" alt="Photo of {{plane.name}}">
  <img mat-card-image *ngSwitchCase="'D-EJEK'" src="./../../assets/Flugzeuge/Motorflugzeug3.jpg" alt="Photo of {{plane.name}}">
  <img mat-card-image *ngSwitchCase="'D-KNIF'" src="./../../assets/Flugzeuge/Segelflugzeug2.jpg" alt="Photo of {{plane.name}}">
  <img mat-card-image *ngSwitchCase="'D-KMGA'" src="./../../assets/Flugzeuge/Segelflugzeug4.jpg" alt="Photo of {{plane.name}}">
  <img mat-card-image *ngSwitchCase="'D-MAHD'" src="./../../assets/Flugzeuge/StealthBomber5.jpg" alt="Photo of {{plane.name}}">

  <mat-card-content>
    <p>
      Kennung: {{plane.number}}
    </p>
    <p>
      Ort: {{plane.position}}
    </p>
    <p>
      Lizenz: {{plane.neededAuthorization}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="openEditPlaneDialog(plane)">Ändern</button>
  </mat-card-actions>
</mat-card>