<div class="dialog-wrapper">  
  <div mat-dialog-content>
    <mat-tab-group backgroundColor="primary" color="accent" [dynamicHeight]="true">        
      <mat-tab label="Übersicht">
        <div class="tab-content">
          <mat-form-field class="input-width">
            <input matInput placeholder="Vorname" [formControl]="firstNameFormControl" required>
          </mat-form-field>
          <mat-form-field class="input-width">
            <input matInput placeholder="Nachname" [formControl]="lastNameFormControl" required>
          </mat-form-field>
          <mat-form-field class="input-width">
            <input matInput placeholder="E-Mail" [formControl]="emailFormControl" required>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Adresse">
        <div class="tab-content">        
          <mat-form-field class="input-width">
            <input matInput placeholder="Straße & Hausnummer" [formControl]="streetAddressFormControl" required>
          </mat-form-field>
          <mat-form-field class="input-width">
            <input dirNumberOnly matInput placeholder="Postleitzahl" maxlength="5" [formControl]="postalCodeFormControl" required>
          </mat-form-field>
          <mat-form-field class="input-width">
            <input matInput placeholder="Stadt" [formControl]="cityFormControl" minlength="3" required>
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Zurück</button>
    <button mat-raised-button (click)="saveMemberProfileData()" color="primary">Speichern</button>
  </div>
</div>