<h1>Mitgliedskonto</h1>
<div class="account">
  <mat-list *ngIf="account != null && member != null">
    <h3 mat-subheader>Mitgliedsnummer</h3>
    <mat-list-item>
      <h4 mat-line>
        <span class="spacing">{{account.id}} </span> <!-- oder {{member.id}} keine Ahnung was stimmt-->
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    
    <h3 mat-subheader>Mitgliedskontonummer</h3>
    <mat-list-item>
      <h4 mat-line>
        <span class="spacing">{{member.memberBankingAccount}}</span>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Kontonummer</h3>
    <mat-list-item>
      <h4 mat-line>
        <span class="spacing">{{ member.bankingAccount }}</span>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Transaktionen</h3>
    <table mat-table [dataSource]="dataSource" matSortActive="timestamp" matSortDirection="desc" matSort class="mat-elevation-z8">

        <!-- Timestamp -->
        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum </th>
          <td mat-cell *matCellDef="let element"> {{element.timestamp | date : 'dd.MM.yyyy'}} </td>
        </ng-container>
      
        <!--Amount -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Betrag </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'color-red': element.type === 'Zahlung', 'color-green': element.type != 'Zahlung'}"> {{element.amount | currency:"€"}} </td>
        </ng-container>
      
        <!--Type -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
            
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    <!--<table class="mat-elevation-z8">
        <tr *ngFor="let type of account.transactions">
          <td>{{type.timestamp | date : 'dd.MM.yyyy'}}</td>
          <td>{{type.amount | currency:"€"}}</td>
          <td>{{type.type}}</td>
        </tr>
      </table> -->

    <!---<mat-list-item *ngFor="let type of account.transactions">
      <h4 mat-line>
        <span class="spacing">{{type.timestamp | date : 'dd.MM.yyyy'}} |</span> 
        <span class="spacing">{{type.amount | currency:"€"}} |</span> 
        <span class="spacing">{{type.type}}</span>
         
        
        
      </h4>
    </mat-list-item> --->
    <mat-divider></mat-divider>
    <h3 mat-subheader>Guthaben</h3>
    <mat-list-item>
      <h4 mat-line>
        <span class="spacing" [ngClass]="{'color-red': account.balance <= 0, 'color-green': account.balance >=0}"><b>{{account.balance | currency:"€"}}</b></span>
      </h4>
    </mat-list-item>
  </mat-list>
</div>
