<h1>Mitgliedskonto</h1>
<div class="account">
  <mat-list *ngIf="account != null && member != null">
    <h3 mat-subheader>Mitgliedsnummer</h3>
    <mat-list-item>
      <h4 mat-line>
        <span class="spacing">{{account.id}} </span> <!-- oder {{member.id}} keine Ahnung was stimmt-->
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Mitgliedskontonummer</h3>
    <mat-list-item>
      <h4 mat-line>
        <span class="spacing">{{member.memberBankingAccount}}</span>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Kontonummer</h3>
    <mat-list-item>
      <h4 mat-line>
        <span class="spacing">{{ member.bankingAccount }}</span>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Transaktionen</h3>
    <mat-list-item *ngFor="let type of account.transactions">
      <h4 mat-line>
        <span class="spacing">{{type.timestamp | date : 'dd.MM.yyyy'}} |</span> 
        <span class="spacing">{{type.amount | currency:"€"}} |</span> 
        <span class="spacing">{{type.type}}</span>         
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Guthaben</h3>
    <mat-list-item>
      <h4 mat-line>
        <span class="spacing"><b>{{account.balance | currency:"€"}}</b></span>
      </h4>
    </mat-list-item>
  </mat-list>
</div>
