<h1>Mitgliedskonto</h1>
<div class="account">
  <mat-list>
    <h3 mat-subheader>Mitgliedsnummer</h3>
    <mat-list-item>
      <h4 mat-line>
        <span class="spacing">12345</span>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Mitgliedskontonummer</h3>
    <mat-list-item>
      <h4 mat-line>
        <span class="spacing">12345</span>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Kontonummer</h3>
    <mat-list-item>
      <h4 mat-line>
        <span class="spacing">12345</span>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Zahlungen</h3>
    <mat-list-item>
      <h4 mat-line>
        <span class="spacing">234</span>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Aufwandsentschädigung</h3>
    <mat-list-item>
      <h4 mat-line>
        <span class="spacing">456</span>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Gebühren</h3>
    <mat-list-item>
      <h4 mat-line>
        <span class="spacing">245</span>
      </h4>
     </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Guthaben</h3>
    <mat-list-item>
      <h4 mat-line>
        <span class="spacing">456</span>
      </h4>
     </mat-list-item>
  </mat-list>
</div>
