.user-card {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

/* Form Felder auf volle Größe */
.mat-form-field {
    width: 100%;
}

.mat-card-header {
    justify-content: center;
}

.user-card-title {
    margin-top: 20px;
    font-size: 20px;
}

.user-div {
    margin-left: auto;
    margin-right: auto;
}

.mat-btn-user {
    float: right;
    font-weight: bold;
}

/* Anpassung Button margin-right */

.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child {
    margin-right: 35px;
}