<div class="dialog-wrapper">
  <mat-dialog-content>
  <mat-tab-group backgroundColor="primary" color="accent" [dynamicHeight]="true">
    <mat-tab label="Übersicht">
      <form [formGroup]="allgmeinPersoInfo">
        <div class="tab-content">
          <mat-form-field class="input-width">
            <input type="text" matInput [ngModel]="member?.lastName" placeholder="Name" id="name" minlength="3" 
            pattern="[a-zA-Z_äÄöÖüÜß]+" ng-pattern-restrict [formControl]="nameFormControl" required>
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Der Name ist <strong>erforderlich</strong>
            </mat-error>
            <mat-error *ngIf="nameFormControl.hasError('minlength')">
              Der Name muss mindestens 3 Zeichen lang sein
            </mat-error>
            <mat-error *ngIf="nameFormControl.hasError('pattern')">
              Der Name darf keine Zahlen enthalten
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input-width">
            <input type="text" matInput [ngModel]="member?.firstName" placeholder="Vorname" id="firstName" minlength="3"
            pattern="[a-zA-Z_äÄöÖüÜß]+" ng-pattern-restrict [formControl]="firstNameFormControl" required>
            <mat-error *ngIf="firstNameFormControl.hasError('required')">
              Der Vorname ist <strong>erforderlich</strong>
            </mat-error>
            <mat-error *ngIf="firstNameFormControl.hasError('minlength')">
              Der Vorname muss mindestens 3 Zeichen lang sein
            </mat-error>
            <mat-error *ngIf="firstNameFormControl.hasError('pattern')">
              Der Vorname darf keine Zahlen enthalten
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input-width">
            <input matInput [matDatepicker]="birthday" [ngModel]="member?.dateOfBirth" placeholder="Geburtstag" [formControl]="birthdayFormControl" required>
            <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
            <mat-datepicker #birthday></mat-datepicker>
            <mat-error *ngIf="birthdayFormControl.hasError('required')">
              Der Geburtstag ist <strong>erforderlich</strong>
            </mat-error>
          </mat-form-field>                
          <mat-form-field class="input-width">
            <mat-select placeholder="Geschlecht" [ngModel]="member?.gender" id="sex" [formControl]="sexFormControl" required>
              <mat-option *ngFor="let sex of sex" [value]="sex">{{sex}}</mat-option>
            </mat-select>
            <mat-error *ngIf="sexFormControl.hasError('required')">
              Das Geschlecht ist <strong>erforderlich</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input-width">
            <mat-select placeholder="Status" [ngModel]="member?.status" id="status" required [formControl]="statusFormControl">
              <mat-option *ngFor="let sta of status" [value]="sta">{{sta}}</mat-option>
            </mat-select>
            <mat-error *ngIf="statusFormControl.hasError('required')">
              Der Status ist <strong>erforderlich</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input-width">
            <input type="email" matInput [ngModel]="member?.email" placeholder="Email" id="email" [formControl]="emailFormControl"
            [errorStateMatcher]="matcher" required>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Bitte geben Sie eine gültige Emailadresse ein.
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Die Emailadresse ist <strong>erforderlich</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Adresse">
      <form [formGroup]="adresse">
        <div class="tab-content">
            <mat-form-field class="input-width">
              <!---muss noch gemappt werden-->
              <mat-select placeholder="Bundesland" id="state" [formControl]="stateFormControl" required>
                <mat-option *ngFor="let sta of state" [value]="sta">{{sta}}</mat-option>
              </mat-select>
              <mat-error *ngIf="stateFormControl.hasError('required')">
                  Das Bundesland ist <strong>erforderlich</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="input-width">
              <input type="text" matInput [ngModel]="member?.addresse.postalCode" placeholder="PLZ" id="postalCode" myNumberOnly #postalCode maxlength="5" [formControl]="postalCodeFormControl" required>
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
              <mat-error *ngIf="postalCodeFormControl.hasError('required')">
                Die Postleitzahl ist <strong>erforderlich</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="input-width">
              <input type="text" [ngModel]="member?.addresse.city" pattern="[a-zA-Z_äÄöÖüÜß]+" ng-pattern-restrict
              matInput placeholder="Ort" id="city" [formControl]="cityFormControl" minlength="3" required>
              <mat-error *ngIf="cityFormControl.hasError('required')">
                Der Ort ist <strong>erforderlich</strong>
              </mat-error>
              <mat-error *ngIf="cityFormControl.hasError('minlength')">
                  Der Ort muss mindestens 3 Zeichen lang sein
              </mat-error>
              <mat-error *ngIf="cityFormControl.hasError('pattern')">
                  Der Ort darf keine Zahlen enthalten
              </mat-error>
            </mat-form-field>
            <mat-form-field class="input-width">
              <input type="text" [ngModel]="member?.addresse.streetAddresse" matInput placeholder="Straße" id="street" minlength="3" [formControl]="streetFormControl" required>
              <mat-error *ngIf="streetFormControl.hasError('required')">
                Die Straße ist <strong>erforderlich</strong>
              </mat-error>
              <mat-error *ngIf="streetFormControl.hasError('minlength')">
                  Die Straße muss mindestens 3 Zeichen lang sein
              </mat-error>
            </mat-form-field>
          </div>
      </form>
    </mat-tab>
    <mat-tab label="Kundenkonto">
      <form [formGroup]="interneInfos">
        <div class="tab-content">
          <mat-form-field class="input-width">
            <input type="text" [ngModel]="member?.bankingAccount" matInput placeholder="Bankkonto" ng-model="iban" id="bankingAccount" required [formControl]="bankingAccountFormControl">
            <mat-hint>DE19 1234 1234 1234 1234 12</mat-hint>
            <mat-error *ngIf="bankingAccountFormControl.hasError('required')">
              Das Bankkonto ist <strong>erforderlich</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Ämter">
      <div class="tab-content">
        <mat-form-field class="input-width">
          <mat-select placeholder="Amt" [ngModel]="member?.offices" id="office" multiple>
            <mat-option *ngFor="let aem of aemter" [value]="aem">{{aem}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab label="Flugberechtigung">
        <form [formGroup]="interneInfos">
          <div class="tab-content">
            <div class="user-div">
              <mat-form-field class="input-width">
                <mat-select placeholder="Flugberechtigung" [ngModel]="member?.flightAuthorization" id="flugberechtigung" multiple>
                  <mat-option *ngFor="let flu of flugberechtigung" [value]="flu">{{flu}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-checkbox id="mustereinweisung">Mustereinweisung wurde durchgeführt</mat-checkbox>
            <!--<div class="user-div">
                <mat-form-field>
                  <input matInput [matDatepicker]="gueltigkeit" placeholder="Gültigkeit"
                  matTooltip="Gültigkeit der Flugberechtigung" required>
                  <mat-datepicker-toggle matSuffix [for]="gueltigkeit"></mat-datepicker-toggle>
                  <mat-datepicker #gueltigkeit></mat-datepicker>
              </mat-form-field>
            </div>-->
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button mat-raised-button (click)="saveMemberData()" color="primary">Speichern</button>
  </div>
</div>