<div class="dialog-wrapper">
  <h1 mat-dialog-title>Kontostand von {{Listmember.firstName}} {{Listmember.lastName}} ({{Listmember.memberBankingAccountId}}) bearbeiten   </h1>
  <div mat-dialog-content>
      <mat-form-field class="input-width">
          <input matInput placeholder="Betrag" id='input_amount' [formControl]="amountFormControl" required>
      </mat-form-field>
      <mat-form-field class="input-width">
          <input matInput placeholder="Typ" id='input_type' [formControl]="typeFormControl" required>
      </mat-form-field>
  </div>
  <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Abbrechen</button>
      <button mat-raised-button (click)="saveBalanceData()" color="primary">Speichern</button>
  </div>
</div>